.styleHeader{
    display: flex;
    justify-content: space-between;
}

.styleCartBtn{
    padding: 20px;
}

#navbarHeader{
    width: 100%;
}

.containerTrash{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSpin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colCards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 25px;
}



.product-card {
    width: 80%;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-image {
    width: 30%;
    height: auto;
}

.product-info {
    width: 50%;
    border-collapse: collapse;
    margin-left: 20px;
}

.product-info th, .product-info td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #eee;
}