.styleHeader{
    display: flex;
    justify-content: space-between;
}

.styleCartBtn{
    padding: 20px;
}

#navbarHeader{
    width: 100%;
}

.containerProduct{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleProductItemForm{
    display: flex;
}

.containerSpinner{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 80vh; 
}

.containerTrash{
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerParent{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.container1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container2{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container2Enfant1{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}
.container2Enfant2{
    display: flex;
    justify-content: center;
    align-items: left;

}

.imgDetailProduct{
    width: 300px;
    height: 300px;
}