.styleHeader{
    display: flex;
    justify-content: space-between;

}

.styleCartBtn{
    padding: 20px;
}

#navbarHeader{
    width: 100%;
}

.containerProduct{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleProductItemForm{
    display: flex;
}

.spinnerclass{
    display: flex;
    justify-content: center;
    align-items: center;
}